.header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.setting-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    /* border: 0.1rem solid #fafafa; */
    background-color: #333;
}

.setting-container > h2 {
    font-weight: 900;
}

.algoSelect,
.difficultySelect {
    margin-bottom: 1rem;
}


label {
    margin-right: 1rem;
    font-size: 1.2rem;
}

select {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

select:hover{
    background-color: rgb(199, 192, 192);
}


select:focus {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

.startBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #0080ff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.startBtn:hover {
    background-color: #0057a6;
}

.startBtn:active{
    background-color: #003d80;
}
