* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1.2rem "Roboto", sans-serif;
}

body,
html,
#root {
  height: 100%;
  background-color: #111;
  color: white;

}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
