.piece{
    border-radius: 50%;
    width: 12%;
    aspect-ratio: 1/1;

    position: absolute;
    z-index: 1;
}

.piece-red{
    background-color: red;
}

.piece-blue{
    background-color: blue;
}

