.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #789;
  gap: 10px;
}

.settings-container h2 {
  color: #111;
  font-size: 1.5rem;
  padding: 10px;
}

.settings-container select {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 5px;
    margin: 0 20px;
    background-color: #111;
    color: #789;
}

.start-btn {
  width: 100%;
  background-color: #9ab;
  color: #111;
}
